<div class="card">
  <div class="card-header">
    <h2>PORTFOLIO</h2>
  </div>
  <div class="card-block">
  	<div class="card">
		  <div class="card-block">
		    <h4 class="card-title"><a href="https://rjm925.github.io/Client-Panel" target="_blank">Client Panel</a></h4>
		    <h6 class="card-subtitle mb-2 text-muted">HTML, CSS Bootstrap, Typescript, Angular JS, Firebase</h6>
		    <p class="card-text">A client information tracker made for organizations with money transactions. Presents employees with an interface which displays their clients information and the balance of each client. Clients can be added, edited, or deleted.</p>
		  </div>
		</div>
		<div class="card">
		  <div class="card-block">
		    <h4 class="card-title"><a href="https://rjm925.github.io/FAQ-App" target="_blank">FAQ App</a></h4>
		    <h6 class="card-subtitle mb-2 text-muted">HTML, CSS Bootstrap, Typescript, Angular JS</h6>
		    <p class="card-text">An application which allows users to create and maintain frequently asked questions. Data persistence coupled with being able to show and hide the answer for each question.</p>
		  </div>
		</div>
  	<div class="card">
		  <div class="card-block">
		    <h4 class="card-title"><a href="https://afternoon-citadel-10640.herokuapp.com/" target="_blank">Mongo Scraper</a></h4>
		    <h6 class="card-subtitle mb-2 text-muted">HTML, CSS Bootstrap, Javascript/jQuery, Node.js, Express, Handlebars, Mongoose</h6>
		    <p class="card-text">A full-stack app that lets users view and leave comments on the latest ny times sports news. The user can scrape new articles by clicking the button and save any articles.</p>
		  </div>
		</div>
  	<div class="card">
		  <div class="card-block">
		    <h4 class="card-title"><a href="https://evening-brook-53176.herokuapp.com/" target="_blank">Burger Logger</a></h4>
		    <h6 class="card-subtitle mb-2 text-muted">HTML, CSS Bootstrap, Javascript/jQuery, Node.js, Express, Handlebars, MySQL</h6>
		    <p class="card-text">This full-stack app keeps track of burgers eaten. The user input the name of a burger and can click a button when it is eaten. The MySQL database keeps track of all burgers.</p>
		  </div>
		</div>
  	<div class="card">
		  <div class="card-block">
		    <h4 class="card-title"><a href="https://obscure-peak-93122.herokuapp.com/" target="_blank">Friend Finder</a></h4>
		    <h6 class="card-subtitle mb-2 text-muted">HTML, CSS Bootstrap, Javascript/jQuery, Node.js, Express</h6>
		    <p class="card-text">This full-stack site will take in results from your users' surveys, then compare their answers with those from other users. The app will then display the name and picture of the user with the best overall match.</p>
		  </div>
		</div>
  	<div class="card">
		  <div class="card-block">
		    <h4 class="card-title"><a href="https://github.com/rjm925/Bamazon" target="_blank">Bamazon</a></h4>
		    <h6 class="card-subtitle mb-2 text-muted">Node.js, MySQL</h6>
		    <p class="card-text">A CLI application for a store that uses MySQL database. The user can be a customer, manager, or supervisor.</p>
		  </div>
		</div>
  	<div class="card">
		  <div class="card-block">
		    <h4 class="card-title"><a href="https://github.com/rjm925/Flashcard-Generator" target="_blank">Flashcard Generator</a></h4>
		    <h6 class="card-subtitle mb-2 text-muted">Node.js</h6>
		    <p class="card-text">A CLI application to create or study flashcards. The user can create two types of cards, basic or cloze. For studying, the user chooses which cards to go through and the program displays the questions randomly.</p>
		  </div>
		</div>
  	<div class="card">
		  <div class="card-block">
		    <h4 class="card-title"><a href="https://github.com/rjm925/LIRI-Bot" target="_blank">LIRI Bot</a></h4>
		    <h6 class="card-subtitle mb-2 text-muted">Node.js</h6>
		    <p class="card-text">This is a CLI application that will prompt the user to display my tweets, search for a song, search for a movie, or do what the random.txt file says. Every command logs into log.txt along with the results.</p>
		  </div>
		</div>
		<div class="card">
		  <div class="card-block">
		    <h4 class="card-title"><a href="https://rjm925.github.io/RPS-Multiplayer" target="_blank">RPS Multiplayer</a></h4>
		    <h6 class="card-subtitle mb-2 text-muted">HTML, CSS Bootstrap, Javascript/jQuery, Firebase</h6>
		    <p class="card-text">This is a multiplayer rock, paper, scissors game that uses Firebase. Two players can play at a time. This game features a chat to allow the players to talk to each other in real time.</p>
		  </div>
		</div>
  	<div class="card">
		  <div class="card-block">
		    <h4 class="card-title"><a href="https://rjm925.github.io/Train-Schedule" target="_blank">Train Schedule</a></h4>
		    <h6 class="card-subtitle mb-2 text-muted">HTML, CSS Bootstrap, Javascript/jQuery, Firebase, Moment.js</h6>
		    <p class="card-text">This is an app to keep track of train schedules and calculates when the next train is coming based on frequency and current time. The user can also add a train to the schedule which is stored in the Firebase database.</p>
		  </div>
		</div>
		<div class="card">
		  <div class="card-block">
		    <h4 class="card-title"><a href="https://rjm925.github.io/GIPHY-API" target="_blank">GIPHY API</a></h4>
		    <h6 class="card-subtitle mb-2 text-muted">HTML, CSS Bootstrap, Javascript/jQuery, AJAX - GIPHY API</h6>
		    <p class="card-text">This app uses the GIPHY API to search for animal gifs.</p>
		  </div>
		</div>
		<div class="card">
		  <div class="card-block">
		    <h4 class="card-title"><a href="https://rjm925.github.io/Trivia-Game" target="_blank">Trivia Game</a></h4>
		    <h6 class="card-subtitle mb-2 text-muted">HTML, CSS Bootstrap, Javascript/jQuery</h6>
		    <p class="card-text">This is a game where the user has to pick the correct name of the image shown. The user has 5 seconds to pick an answer and there are 7 questions.</p>
		  </div>
		</div>
		<div class="card">
		  <div class="card-block">
		    <h4 class="card-title"><a href="https://rjm925.github.io/Multiple-Choice-Timed-Quiz" target="_blank">Multiple Choice Timed Quiz</a></h4>
		    <h6 class="card-subtitle mb-2 text-muted">HTML, CSS Bootstrap, Javascript/jQuery</h6>
		    <p class="card-text">This app is a multiple choice timed quiz. The user will have 30 seconds to answer all the questions. The user has to pick the correct name of the item shown.</p>
		  </div>
		</div>
    <div class="card">
		  <div class="card-block">
		    <h4 class="card-title"><a href="https://rjm925.github.io/RPG-Game" target="_blank">RPG Game</a></h4>
		    <h6 class="card-subtitle mb-2 text-muted">HTML, CSS Bootstrap, Javascript/jQuery</h6>
		    <p class="card-text">An RPG game where the user chooses from the four characters and has to defeat the remaining characaters. The users attack increases every time the attack button is clicked based on the character selected and resets every game.</p>
		  </div>
		</div>
		<div class="card">
		  <div class="card-block">
		    <h4 class="card-title"><a href="https://rjm925.github.io/Crystal-Collector" target="_blank">Crystal Collector</a></h4>
		    <h6 class="card-subtitle mb-2 text-muted">HTML, CSS Bootstrap, Javascript/jQuery</h6>
		    <p class="card-text">A game where the user has to click the crystals to add to their score. The user has to match the target value. Each crystal has a random value between 1 and 12 which is randomly generated every round. The target value is also randomly generated between 19 and 120 every round. The game will keep track of the user's wins and losses for the session.</p>
		  </div>
		</div>
		<div class="card">
		  <div class="card-block">
		    <h4 class="card-title"><a href="https://rjm925.github.io/Hangman-Game" target="_blank">Hangman Game</a></h4>
		    <h6 class="card-subtitle mb-2 text-muted">HTML, CSS, Javascript</h6>
		    <p class="card-text">This is a hangman game of the current 30 NBA teams. The user has up to 6 incorrect letter guesses until he or she losses. The game keeps track of the user's wins and losses for the session.</p>
		  </div>
		</div>
		<div class="card">
		  <div class="card-block">
		    <h4 class="card-title"><a href="https://rjm925.github.io/Psychic-Game" target="_blank">Psychic Game</a></h4>
		    <h6 class="card-subtitle mb-2 text-muted">HTML, CSS, Javascript</h6>
		    <p class="card-text">This is a game where the user has 9 lives to guess the random letter. The game will keep track of the user's wins and losses for the session.</p>
		  </div>
		</div>
  </div>
</div>