<nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
  <div class="container">
    <div class="navbar-brand">Ryan Mendoza</div>
    <div class="navbar-collapse" id="navbarsExampleContainer">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>