<nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
  <div class="container">
    <div class="navbar-brand">Ryan Mendoza</div>
    <div class="contact">
      <div>Phone: (908) 642 7738</div>
      <div>Email: ryanjmendoza25@gmail.com</div>
    </div>
    <div class="navbar-collapse" id="navbarsExampleContainer">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/portfolio">Portfolio</a>
        </li>
      </ul>
    </div>
  </div>
</nav>