<div class="card">
  <div class="card-header">
    <h2>ABOUT ME</h2>
  </div>
  <div class="card-block">
  	<img src="../../assets/portrait.jpg" id="portrait" alt="self-portrait" align="left">
    <p id="bio">Ryan Mendoza graduated with honors from Rutgers University with a degree in Electrical and Computer Engineering and received a certification as a Full Stack Web Developer. Recently, he co-published a website for a supply and distributor company, ProSweetz. This experience drove him to practice web development and polish his skills as a full stack web developer. Ryan is experienced in working with HTML, CSS, Javascript, NodeJS, Express, MySQL, MongoDB, Firebase, ReactJS, and AngularJS. Ryan is a fast learner, works well in teams, and has the ability to adapt to a wide range of environments. As a full stack developer, he has a great understanding of the front-end and is looking to get more experience in the back-end.</p>
  </div>
</div>